#:schema https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json

version = 2
final_space = true
console_title_template = '{{ .Shell }} in {{ .Folder }}'

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    type = "os"
    style = "plain"
    template = "{{.Icon}}"

    [properties]
    macos = "mac"

  [[blocks.segments]]
    type = 'path'
    background = 'transparent'
    foreground = 'blue'

    [blocks.segments.properties]
      style = 'powerlevel'
      folder_icon = ''
      home_icon = ' '
      max_width = 20
      cycle = ['cyan', 'magenta', 'blue']

  [[blocks.segments]]
    type = "git"
    style = "powerline"
    foreground = "green"
    background = "transparent"
    foreground_templates = [
      "{{ if or (.Working.Changed) (.Staging.Changed) }}#FFEB3B{{ end }}",
      "{{ if and (gt .Ahead 0) (gt .Behind 0) }}#FFCC80{{ end }}",
      "{{ if gt .Ahead 0 }}#B388FF{{ end }}",
      "{{ if gt .Behind 0 }}#B388FB{{ end }}"
    ]
    template = "<#FFFFFF>{{ url .UpstreamIcon .UpstreamURL }}</> {{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}  <#22d3ee> ?{{.Working.Untracked}}</> ~{{ .Working.Modified }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}<#34d399>  {{ .StashCount }}</>{{ end }}"

    [blocks.segments.properties]
      fetch_status = true
      branch_max_length = 25
      fetch_upstream_icon = true
      truncate_symbol = '…'
      branch_icon = ' '

      [properties.untracked_modes]
      "/Users/user/Projects/oh-my-posh/" = "no"


[[blocks]]
  type = 'prompt'
  alignment = 'right'

  [[blocks.segments]]
    type = "elixir"
    style = "powerline"
    powerline_symbol = ""
    foreground = "#ffffff"
    background = "#422251"
    template = "  {{ .Major }}.{{ .Minor }} "
  
  [[blocks.segments]]
    type = "node"
    style = "powerline"
    # foreground = "#ffffff"
    # background = "#6CA35E"
    foreground = "#6CA35E"
    template = "  {{ .Major }}.{{ .Minor }} "

  [[blocks.segments]]
    type = "php"
    style = "powerline"
    # foreground = "#ffffff"
    # background = "#4063D8"
    foreground = "#4063D8"
    template = "  {{ .Major }}.{{ .Minor }} "

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

   [[blocks.segments]]
    type = "status"
    foreground = "#00897b"
    foreground_templates = [ "{{ if gt .Code 0 }}#e91e63{{ end }}" ]
    template = " "

      [blocks.segments.properties]
      always_enabled = true

  [[blocks.segments]]
    type = 'executiontime'
    style = 'plain'
    foreground = 'yellow'
    background = 'transparent'
    template = '{{ .FormattedMs }}'

    [blocks.segments.properties]
      threshold = 5000

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = 'text'
    style = 'plain'
    foreground_templates = [
      "{{if gt .Code 0}}red{{end}}",
      "{{if eq .Code 0}}magenta{{end}}",
    ]
    background = 'transparent'
    template = '❯'

[transient_prompt]
  foreground_templates = [
    "{{if gt .Code 0}}red{{end}}",
    "{{if eq .Code 0}}magenta{{end}}",
  ]
  background = 'transparent'
  template = '❯ '

[secondary_prompt]
  foreground = 'magenta'
  background = 'transparent'
  template = '❯❯ '
