console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 3
auto_upgrade = true
final_space = true

[secondary_prompt]
  template = '❯❯ '
  foreground = 'magenta'
  background = 'transparent'

[transient_prompt]
  template = '❯ '
  foreground = ''
  background = 'transparent'
  foreground_templates = [
    '{{if gt .Code 0}}red{{end}}',
    '{{if eq .Code 0}}magenta{{end}}',
  ]

[[blocks]]
  type = 'prompt'
  alignment = 'left'

  [[blocks.segments]]
    style = 'plain'
    template = '{{.Icon}}'
    foreground = ''
    background = ''
    type = 'os'

  [[blocks.segments]]
    foreground = 'blue'
    background = 'transparent'
    type = 'path'

    [blocks.segments.properties]
      cycle = ['cyan', 'magenta', 'blue']
      folder_icon = ''
      home_icon = ' '
      max_width = 20
      style = 'powerlevel'

  [[blocks.segments]]
    style = 'powerline'
    template = '<#FFFFFF>{{ url .UpstreamIcon .UpstreamURL }}</> {{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}  <#22d3ee> ?{{.Working.Untracked}}</> ~{{ .Working.Modified }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}<#34d399>  {{ .StashCount }}</>{{ end }}'
    foreground = 'green'
    background = 'transparent'
    type = 'git'
    foreground_templates = [
      '{{ if or (.Working.Changed) (.Staging.Changed) }}#FFEB3B{{ end }}',
      '{{ if and (gt .Ahead 0) (gt .Behind 0) }}#FFCC80{{ end }}',
      '{{ if gt .Ahead 0 }}#B388FF{{ end }}',
      '{{ if gt .Behind 0 }}#B388FB{{ end }}',
    ]

    [blocks.segments.properties]
      branch_icon = ' '
      branch_max_length = 25
      fetch_status = true
      fetch_upstream_icon = true
      truncate_symbol = '…'

[[blocks]]
  type = 'prompt'
  alignment = 'right'

  [[blocks.segments]]
    style = 'powerline'
    template = '  {{ .Major }}.{{ .Minor }} '
    foreground = '#ffffff'
    powerline_symbol = ''
    background = '#422251'
    type = 'elixir'

  [[blocks.segments]]
    style = 'powerline'
    template = '  {{ .Major }}.{{ .Minor }} '
    foreground = '#6CA35E'
    background = ''
    type = 'node'

  [[blocks.segments]]
    style = 'powerline'
    template = '  {{ .Major }}.{{ .Minor }} '
    foreground = '#4063D8'
    background = ''
    type = 'php'

[[blocks]]
  type = 'rprompt'
  overflow = 'hidden'

  [[blocks.segments]]
    template = ' '
    foreground = '#00897b'
    background = ''
    type = 'status'
    foreground_templates = ['{{ if gt .Code 0 }}#e91e63{{ end }}']

    [blocks.segments.properties]
      always_enabled = true

  [[blocks.segments]]
    style = 'plain'
    template = '{{ .FormattedMs }}'
    foreground = 'yellow'
    background = 'transparent'
    type = 'executiontime'

    [blocks.segments.properties]
      threshold = 5000

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    style = 'plain'
    template = ' '
    foreground = ''
    background = 'transparent'
    type = 'text'
    foreground_templates = [
      '{{if gt .Code 0}}red{{end}}',
      '{{if eq .Code 0}}magenta{{end}}',
    ]
