[leader]
  [leader.e]
    context = ["$file", "$change_id"]
    help = "Edit file in @"
    send = ["$", "$EDITOR $file", "enter"]

  [leader.E]
    context = ["$file", "$change_id"]
    help = "Edit file in change"
    send = ["$", "jj edit \"$change_id\" && $EDITOR $file", "enter"]
